
/* section start */
.margin:hover{
    border-bottom: 2px solid blue; 
}
.start{
    justify-content: center;
    display: flex;
   
  
   
}
.inf:hover{
    border: 2px solid blue;
    
    padding: 10px;
}
.camera:hover{
    border: 2px solid blue;
    border-radius: 200px;

}
.preebook{
   text-decoration: none;
     background-color: rgb(255, 81, 81);
     font-size: 20px;
     border-radius: 20px;
     color: white;
    padding: 10px 10px;
}
.img{
    width: 70%;
}
/* populer-center */
.populer{
    justify-content: center;
   
}

.populer-center{
    text-align: center;
}
.product{
background-color: cornsilk;
width: 329px;
height: 476px;
}
.collection{
    
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.product .product-img img{
    width: 300px;
    height: 256px;
}
.fas.fa-star{
    width: 16px;
    color:orange ;
}
.product-rating{
    display: flex;
    align-items: center;
}
.see{
    justify-content: right;
    text-decoration: none;
     background-color: rgb(255, 81, 81);
     font-size: 20px;
     border-radius: 20px;
     color: white;
    padding: 10px 10px;
    justify-content: space-between;
    text-align:center;
}
.footer{
    margin-top: 1700px;
    background-color: rgb(4, 4, 31);
    color: white;
    text-align: center;
}
.icons{
    grid-gap: 10px;
}
/*--------- mobile Quaries ----------*/
/* ------------------mobile--------- */
@media  only screen and (max-width:688px) {
      .start{
         display: block;
      }
      .collection{
         grid-template-columns: repeat(1,1fr);
      }
      .footer{
          margin-top: 4700px;
          text-align: left;
      }
    
}
/*---------------------------- tablet Quaries-------------------------- */

@media  only screen and (min-width:688px) and (max-width:992px) {
         .start{
             background-color: springgreen;
         }
         .collection{
          grid-template-columns: repeat(2,2fr);
         }
         .footer{
             margin-top: 2600px;
         }
}